#
NET "clk_50" LOC = "B8";
NET "sw<0>" LOC = "G18";


NET "OV7670_DATA<0>" LOC = "L15"; # JA1
NET "OV7670_DATA<1>" LOC = "K12"; # JA2
NET "OV7670_DATA<2>" LOC = "L17"; # JA3
NET "OV7670_DATA<3>" LOC = "M15"; # JA4
NET "OV7670_DATA<4>" LOC = "K13"; # JA7
NET "OV7670_DATA<5>" LOC = "L16"; # JA8
NET "OV7670_DATA<6>" LOC = "M14"; # JA9
NET "OV7670_DATA<7>" LOC = "M16"; # JA10
NET "OV7670_PWDN" LOC = "M13" ; # JB1
NET "OV7670_RESET" LOC = "R18"; # JB2
NET "OV7670_XCLK" LOC = "R15" ; # JB3
NET "OV7670_PCLK" LOC = "J16" ; # JB4
NET "OV7670_HREF" LOC = "P17" ; # JB7
NET "OV7670_VSYNC" LOC = "R16"; # JB8
#NET "OV7670_SIOD" LOC = "T17" | IOSTANDARD=LVTTL | SLEW=SLOW | PULLUP; # JB4
#NET "OV7670_SIOC" LOC = "U18" | IOSTANDARD=LVTTL | SLEW=SLOW; # JB10

NET "vga_R<0>" LOC = "R9";
NET "vga_R<1>" LOC = "T8";
NET "vga_R<2>" LOC = "R8";
NET "vga_G<0>" LOC = "N8";
NET "vga_G<1>" LOC = "P8";
NET "vga_G<2>" LOC = "P6";
NET "vga_B<0>" LOC = "U5";
NET "vga_B<1>" LOC = "U4";
NET "vga_HSync" LOC = "T4";
NET "vga_Vsync" LOC = "U3";
